{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<header class="dashboard-hero">
    <h1>Welcome back, {{ name }}</h1>
    <p>Here's your financial overview for {{ current_month }}</p>
</header>
<!-- SUMMARY -->
<section class="summary">
    <article class="card red">
        <h3>Total Spent</h3>
        <p class="amount">£{{ total }}</p>
        <small>All time expenses</small>
    </article>
    <article class="card blue">
        <h3>Monthly Spent</h3>
        <p class="amount">£{{ monthly_total }}</p>
        <small>Current month</small>
    </article>
    <article class="card purple">
        <h3>Weekly Spent</h3>
        <p class="amount">£{{ weekly_total }}</p>
        <small>Last 7 days</small>
    </article>
    <article class="card green">
        <h3>Daily Spent</h3>
        <p class="amount">£{{ daily_total }}</p>
        <small>Today only</small>
    </article>
    <article class="card orange">
        <h3>Remaining</h3>
        <p class="amount">£{{ remaining }}</p>
        <small>Budget left</small>
    </article>
</section>
<!-- Budget-->
<section id="budget" class="budget-grid">
    <article class="budget-card">
        <section class="budget-title">
            <h2>Monthly Budget Overview</h2>
        </section>
        <form method="POST" action="/set-budget#budget" class="budget-input">
            <label for="budget_amount">Set Monthly Budget</label>
            {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="form-messages">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    {% endwith %}
            <input
                id="budget_amount"
                type="number"
                name="budget_amount"
                value="0.00"
                step="0.01"
                min="0"
            >
            <button type="submit">Save Budget</button>
        </form>
        <section class="budget-box">
            <section class="budget-values">
                <section class="budget-limit">
                    <p>Budget Limit</p>
                    <strong>£{{ budget_amount }}</strong>
                </section>
                <section class="remaining">
                    <p>Remaining Balance</p>
                    <strong class="
                            {% if progress >= 100 %}danger
                            {% elif progress >= 80 %}warning
                            {% else %}success
                            {% endif %}">
                        £{{ remaining }}
                    </strong>
                </section>
            </section>
            <section class="progress-wrapper">
                <progress value="{{ progress }}" max="100" class="{% if progress >= 100 %}high{% elif progress >= 80 %}mid{% else %}low{% endif %}"></progress>
                <span class="progress-label">
                    {{ progress|round(1) }}% Used
                </span>
            </section>
            <section class="budget-status-row">
                <p class="budget-status {% if progress >= 100 %}danger{% elif progress >= 80 %}warning{% else %}success{% endif %}">
                    {% if progress >= 100 %}
                        Budget exceeded
                    {% elif progress >= 80 %}
                        Warning: limit nearly reached
                    {% else %}
                        Budget is under control
                    {% endif %}
                </p>
                <p class="transactions">
                    {{ expenses|length }} transactions
                </p>
            </section>
        </section>
    </article>
    <aside class="category-card">
        <section class="category-title">
            <h2>Category Split</h2>
        </section>
    </aside>
</section>
<!-- ADD EXPENSE -->
<section id="add-expense" class="expense-card">
    <header class="expense-header">
        <h2>Add New Expense</h2>
    </header>
    <form method="POST" action="/add-expense#add-expense" class="expense-form">
        <!-- FLASH MESSAGE -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
        <ul class="form-messages">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- AMOUNT -->
        <section>
            <label for="amount">Amount (£)</label>
            <input
                id="amount"
                name="amount"
                type="number"
                step="0.01"
                min="0"
                placeholder="0.00"
                required
            >
        </section>
        <!-- DATE -->
        <section>
            <label for="date">Date</label>
            <input
                id="date"
                name="date"
                type="date"
                required
            >
        </section>
        <!-- CATEGORY -->
        <section>
            <label for="category">Category</label>
            <select id="category" name="category_id">
                {% for c in categories %}
                <option value="{{ c.category_id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </section>
        <!-- DESCRIPTION -->
        <section>
            <label for="description">Description</label>
            <input
                id="description"
                name="description"
                type="text"
                placeholder="Optional note"
            >
        </section>
        <!-- BUTTON -->
        <section class="expense-button">
            <button type="submit">Add Expense</button>
        </section>
    </form>
</section>

<!-- ACTIVE FILTERS -->
<section>
    <h4>Active Filters</h4>
    {% if request.args %}
    <p>
        {% if request.args.get("description") %}
            Description: "{{ request.args.get('description') }}"
        {% endif %}

        {% if request.args.get("min_amount") %}
            Min: £{{ request.args.get("min_amount") }}
        {% endif %}

        {% if request.args.get("max_amount") %}
            Max: £{{ request.args.get("max_amount") }}
        {% endif %}

        {% if request.args.get("category_id") %}
            Category selected
        {% endif %}

        {% if request.args.get("sort") %}
            Sort: {{ request.args.get("sort") }}
        {% endif %}
    </p>
    {% else %}
    <p>No filters applied</p>
    {% endif %}
</section>
<!-- TABLE -->
<section id="expenses">
    <h3>Expenses ({{ expenses|length }})</h3>
    <form method="POST" action="/delete-selected-expenses#expenses" onsubmit="return confirmDelete()">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="select-all">
                    </th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Amount (£)</th>
                    <th>Description</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% if expenses|length == 0 %}
                <tr>
                    <td colspan="6">No expenses found</td>
                </tr>
                {% else %}

                {% for expense in expenses %}
                <tr>
                    <td>
                        <input
                            type="checkbox"
                            class="expense-checkbox"
                            name="expense_ids"
                            value="{{ expense.expense_id }}"
                        >
                    </td>
                    <td>{{ expense.date[8:10] }}/{{ expense.date[5:7] }}/{{ expense.date[0:4] }}</td>
                    <td>{{ expense.name }}</td>
                    <td>£{{ expense.amount }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                        <button type="button" onclick="openEditModal(
                                '{{ expense.expense_id }}',
                                '{{ expense.amount }}',
                                '{{ expense.category_id }}',
                                '{{ expense.date }}',
                                '{{ expense.description | e }}'
                            )">
                            Edit
                        </button>
                    </td>
                </tr>
                {% endfor %}

                {% endif %}
            </tbody>
        </table>
        <button id="delete-button" type="submit">Delete Selected</button>
        <button type="button" onclick="openSortModal()">Sort</button>
        <button type="button" onclick="openSearchModal()">Search</button>
        <a href="/dashboard#expenses">
            <button type="button">Clear</button>
        </a>
    </form>
</section>
<!-- MODALS  -->
<!-- EDIT MODAL -->
<section id="editModal" hidden>
    <h3>Edit Expense</h3>
    <form id="editForm" method="POST">
        <input type="hidden" id="edit_id" name="expense_id">
        <label for="edit_amount">Amount</label>
        <input
            id="edit_amount"
            type="number"
            step="0.01"
            name="amount"
            required
        >
        <label for="edit_category">Category</label>
        <select id="edit_category" name="category_id">
            {% for c in categories %}
            <option value="{{ c.category_id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <label for="edit_date">Date</label>
        <input
            id="edit_date"
            type="date"
            name="date"
            required
        >
        <label for="edit_description">Description</label>
        <input id="edit_description" type="text" name="description">
        <button type="submit">Save</button>
        <button type="button" onclick="closeModal()">Cancel</button>
    </form>
</section>
<!-- SORT MODAL -->
<section id="sortModal" hidden>
    <h3>Sort Expenses</h3>
    <form method="GET" action="/dashboard#expenses">
        <label>
            <input type="radio" name="sort" value="date_desc">
            Newest to Oldest
        </label>
        <label>
            <input type="radio" name="sort" value="date_asc">
            Oldest to Newest
        </label>
        <label>
            <input type="radio" name="sort" value="amount_asc">
            Low to High
        </label>
        <label>
            <input type="radio" name="sort" value="amount_desc">
            High to Low
        </label>
        <label>Category</label>
        <select name="category_id">
            <option value="">All</option>
            {% for c in categories %}
            <option value="{{ c.category_id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Apply</button>
        <button type="button" onclick="closeSortModal()">Cancel</button>
    </form>
</section>
<!-- SEARCH MODAL -->
<section id="searchModal" hidden>
    <h3>Search Expenses</h3>
    <form method="GET" action="/dashboard#expenses">
        <label>Description</label>
        <input type="text" name="description">
        <label>Min Amount</label>
        <input type="number" name="min_amount">
        <label>Max Amount</label>
        <input type="number" name="max_amount">
        <label>Date From</label>
        <input type="date" name="date_from">
        <label>Date To</label>
        <input type="date" name="date_to">
        <button type="submit">Apply</button>
        <button type="button" onclick="closeSearchModal()">Cancel</button>
    </form>
</section>
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
{% endblock %}
