<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MySpend Dashboard</title>
    </head>
    <body>
        <h1>MySpend Dashboard</h1>
        <h2>Welcome {{ name }}</h2>
        <p>Your personal finance space.</p>
        <a href="/add-expense">Add Expense</a>
        <br>
        <br>
        <h3>Your Expenses</h3>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.date }}</td>
                <td>{{ expense.name }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.description }}</td>
                <td><a href="/delete-expense/{{ expense.expense_id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/logout">Logout</a>
    </body>
</html>
