<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MySpend</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home Page</a>
                {% if user_id %}
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login</a>
                <a href="/register">Create Account</a>
                {% endif %}
            </nav>
            <h1>MySpend</h1>
        </header>
        <main>
            <section>
                <h2>Welcome</h2>
                <p>Your personal expense management app.</p>
            </section>
        </main>
    </body>
</html>
